{% extends 'bus/base_layout.html' %}
{% load static %} 

{% block content %}
    <div class="row">
    <div class="col-md-6" id="col1">
        <div class="row"><h1>Journey Planner</h1><h2 class="col-sm-6"></h2></div>
        <div class="col-md-12" id="journey-planner">
       
        <form id="form1">
            <p>&nbsp;From:&nbsp;</p>
            <div class="input-group">
              <input id="searchTextField_start" type="text" class="form-control" placeholder="Enter a bus stop or an address">
            </div>
        
            <p>&nbsp;To:&nbsp;</p>
            <div class="input-group">
              <input id="searchTextField_destination" type="text" class="form-control" placeholder="Enter a bus stop or an address">
            </div>
  
      
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         
      <div class="row">
          <div class='col-lg-6'>
            <p>Travel Date and Time:</p>
              <input type='text' class="form-control" id='datetimepicker4' />
          </div>
          <script type="text/javascript">
          
          var today = new Date();
          var end = new Date('12/31/2020');
              $(function () {
                  $('#datetimepicker4').datetimepicker({
                      minDate: today,
                      maxDate: end,
                      format: 'DD/MM/YY H:mm A',

                  });
              });
              </script>
      </div>
          </div>
        </form>
        <input type="submit" form="form1" class="btn btn-warning btn-info btn-lg" value="Submit" onclick="myFunction()" style="margin-top: 20px;">
    </div>
    <script>
      function myFunction() {
        var input1 = document.getElementById("searchTextField_start").value;
        var input2 = document.getElementById("searchTextField_destination").value;
        var input3 = document.getElementById("datetimepicker4").value;
        alert("The starting destination is: " + input1 + " and the destination is " + input2 + " and the time and date is " + input3)
      }
      </script>

    <div class="col-md-6"><div id="map"> hello </div></div>
        </div>
       
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">


<!--Jquery for map-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!--Script for Map and Marker 01-->
<script src="{% static 'bus/js/map_init.js' %}"></script>
 <!--MAPS API-->
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFtH8qWuX2LGmHcicY-vLHfYuB7D6WI7Y&libraries=places&callback=initMap" >

</script>
<script src="{% static 'bus/js/map_auto_complete_text.js' %}"></script>

{% endblock %}
