<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, height=device-height, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"/>
<title>Coronavirus information</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- press button -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Get Covid-19 Info
</button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:80%">
		<div class="modal-content">

                <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h2 class="modal-title" id="myModalLabel">
					Covid-19 Detailed Information. Hope you stay safe!
				</h2>
			</div>
         <div class="modal-body">

<div class="content" style="height:590px ;overflow:auto;padding:2px 30px;margin:0px 5px">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>


<div id="notice"><p>Note: The data of covid-19 updates every 24 hours in our database</p></div>

<section class="header">
								<style>
									.small-columns{
										text-align:center;
										color: #252d5a;
										padding: 4px 4px;
									}
									.header{
										background-color: #D0D0D0;
									}
									.main-content-row{
										background-color: #F0F0F0;
									}
									.perc{
										color: #252d5a;
										font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
										font-size: large;
									}
									.small-stat-box{
										background-color: #c8c8c8;
										padding: 3px 3px;
									}
								</style>
<div class="small-columns">
<div class="row-stat-boxes">
<div class="small-stat-box">
<div>
<span class="perc">Total Cases: </span>
<span class="perc">{{covid.TotalConfirmedCovidCases}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Latest Daily Cases: </span>
<span class="perc">{{covid.ConfirmedCovidCases}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Total Deaths: </span>
<span class="perc">{{covid.TotalCovidDeaths}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Latest Daily Deaths: </span>
<span class="perc">{{covid.ConfirmedCovidDeaths}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Total Hospitalised: </span>
<span class="perc">{{covid.HospitalisedCovidCases}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Total Treated in ICU: </span>
<span class="perc">{{covid.RequiringICUCovidCases}}</span>
</div>
</div>
<div class="small-stat-box">
<div>
<span class="perc">Community Transmission: </span>
<span class="perc">{{covid.CommunityTransmission}}</span>
</div>
</div>
</div>
</div>
</section>

<section class="main-content-row">
<div class="small-columns-divider">
<h4>Daily confirmed cases &amp; deaths</h4>
<div class="chart-container point-container" style="width:100%;height:330px;">
<canvas id="dailyconfirmedcases"></canvas>
</div>
</div>

<div class="small-columns-divider">
<h4>Total confirmed cases &amp; deaths</h4>
<div class="chart-container point-container" style="width:100%;height:330px;">
<canvas id="totalconfirmedcases" ></canvas>
</div>
</div>

<div class="small-columns-divider">
<h4>Total number of cases requiring hospitalisation &amp; ICU</h4>
<div class="chart-container point-container" style="width:100%;height:330px;">
<canvas id="hospitalcases"></canvas>
</div>
</div>

<div class="small-columns-divider">
<h4>% Known mode of transmission since 16/03/2020</h4>
<div class="chart-container point-container" style="width:100%;height:330px;">
<canvas id="transmissioncases"></canvas>
</div>
</div>

</section>

<script>
    Chart.defaults.global.elements.line.fill = false;
    var ctx1 = document.getElementById('dailyconfirmedcases').getContext('2d');
    var dailyconfirmedcases = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: [ {% for item in covid_chart %}'{{item.Date}}',{% endfor %}],
            datasets: [
                {
                label: 'Daily Confirmed Cases',
                data: [{% for item in covid_chart %}'{{item.ConfirmedCovidCases}}',{% endfor %}],
                borderColor: ['rgb(212, 36, 36)'],
                pointBackgroundColor: 'rgb(212, 36, 36)',
                borderWidth: 2},
                {
                label: 'Daily Confirmed Deaths',
                data: [{% for item in covid_chart %}'{{item.ConfirmedCovidDeaths}}',{% endfor %}],
                borderColor: ['rgb(34, 43, 201)'],
                pointBackgroundColor: 'rgb(34, 43, 201)',
                borderWidth: 2}
                ]
        },
        options: {
        	responsive: true,
			maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 29,
                        autoskip: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
     // var DAILY_FEED = {covid_chart};
 </script>

<script>
    var ctx2 = document.getElementById('totalconfirmedcases').getContext('2d');
    var totalconfirmedcases = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: [ {% for item in covid_chart %}'{{item.Date}}',{% endfor %}],
            datasets: [{
                label: 'Total Confirmed Cases',
                data: [{% for item in covid_chart %}'{{item.TotalConfirmedCovidCases}}',{% endfor %}],
                borderColor: ['rgb(212, 36, 36)'],
                pointBackgroundColor: 'rgb(212, 36, 36)',
                borderWidth: 2},
                {
                label: 'Total Confirmed Deaths',
                data: [{% for item in covid_chart %}'{{item.TotalCovidDeaths}}',{% endfor %}],
                borderColor: ['rgb(34, 43, 201)'],
                pointBackgroundColor: 'rgb(34, 43, 201)',
                borderWidth: 2}
                ]
        },
        options: {
        	responsive: true,
			maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 29,
                        autoskip: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
 </script>

<script>
    var ctx3 = document.getElementById('hospitalcases').getContext('2d');
    var hospitalcases = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: [ {% for item in covid_chart|slice:"16:" %}'{{item.Date}}',{% endfor %}],
            datasets: [{
                label: 'Hospitalisation Cases',
                data: [{% for item in covid_chart|slice:"16:" %}'{{item.HospitalisedCovidCases}}',{% endfor %}],
                borderColor: ['rgb(212, 36, 36)'],
                pointBackgroundColor: 'rgb(212, 36, 36)',
                borderWidth: 2},
                {
                label: 'Requiring ICU Cases',
                data: [{% for item in covid_chart|slice:"16:" %}'{{item.RequiringICUCovidCases}}',{% endfor %}],
                borderColor: ['rgb(34, 43, 201)'],
                pointBackgroundColor: 'rgb(34, 43, 201)',
                borderWidth: 2}
                ]
        },
        options: {
        	responsive: true,
			maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 29,
                        autoskip: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
 </script>

<script>
    var ctx4 = document.getElementById('transmissioncases').getContext('2d');
    var transmissioncases = new Chart(ctx4, {
        type: 'line',
        data: {
            labels: [ {% for item in covid_chart|slice:"14:" %}'{{item.Date}}',{% endfor %}],
            datasets: [{
                label: 'Community Transmission',
                data: [{% for item in covid_chart|slice:"14:" %}'{{item.CommunityTransmission}}',{% endfor %}],
                borderColor: ['rgb(212, 36, 36)'],
                pointBackgroundColor: 'rgb(212, 36, 36)',
                borderWidth: 2},
                {
                label: 'Close Contact',
                data: [{% for item in covid_chart|slice:"14:" %}'{{item.CloseContact}}',{% endfor %}],
                borderColor: ['rgb(34, 43, 201)'],
                pointBackgroundColor: 'rgb(34, 43, 201)',
                borderWidth: 2},
                {
                label: 'Travel Abroad',
                data: [{% for item in covid_chart|slice:"14:" %}'{{item.TravelAbroad}}',{% endfor %}],
                borderColor: ['rgb(52, 163, 74)'],
                pointBackgroundColor: 'rgb(52, 163, 74)',
                borderWidth: 2}
                ]
        },
        options: {
        	responsive: true,
			maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 29,
                        autoskip: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
 </script>

</div>
                </div>
       			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">The pandemic is not over yet. Hope you stay safe!
				</button>
			    </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

</body>
</html>