h3, h1{
    font-family:Orienta, sans-serif;
    color: rgb(248,250,251);
    background-color: #252d5a;
    padding-left: 18px;
}
#col1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-left: 50px;
    padding-right: 50px; */
    
}
#col2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-left: 50px;
    padding-right: 50px;     */
}

p, input, label {
    font-family:Orienta, sans-serif;
}

.footer-basic {
    padding: 40px 0;
    background-color: #fff;
    color: #4b4c4d
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    font-family: Orienta, sans-serif;
}
.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: .8
}
.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0
}
.navigation-clean .navbar-brand {
    font-weight: 700;
    color: inherit;
    font-family: Orienta, sans-serif; 
}

.navigation-clean .navbar-toggler {
    border-color: #ddd;
    color: #888;
}

.navigation-clean .form-inline,
.navigation-clean .navbar-collapse {
    border-top-color: #ddd;
}

.navigation-clean.navbar-dark .form-inline,
.navigation-clean.navbar-dark .navbar-collapse {
    border-top-color: #333;
    font-family: Orienta, sans-serif;
}
.navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
    font-family:Orienta, sans-serif;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
    color: #465765;
    font-family:Orienta, sans-serif;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d;
    background-color: transparent;
    font-family: Orienta, sans-serif;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
    font-family: Orienta, sans-serif;
}

#map{
    height:800px;
    width:100%;
}

 #floating-panel {
    position: relative;
    z-index: 4;
    border: 1px solid#252d5a;
    font-family: Orienta, sans-serif; 
    overflow: scroll;
    background-color: #fff;
    width: inherit;
  }

  #directions {
    position: static;
    z-index: 5;
    background-color: #fff;
    border: 1px solid#252d5a;
    font-family: Orienta, sans-serif;
    display: none;
    height: 33%;
    overflow: scroll;

  }
  /* #tourism-directions {
    position: static;
    z-index: 5;
    background-color: #fff;
    border: 1px solid#252d5a;
    font-family: Orienta, sans-serif;
    display: none;
    height: 33%;
    overflow: auto;

  } */
  #test2, #test3, #test {
    font-family: Orienta, sans-serif;
  }
  .tab-content {
    position: absolute;
    float: left;
  }
  #tourism-card{
      position: relative;
      z-index: 4;
      border: 1px solid#252d5a;
      font-family: Orienta, sans-serif; 
      height: 500px;
      width: inherit;
      overflow: scroll;
      background-color: #fff;

  }

  #twitter-card{
    position: relative;
    background-color: #fff;
    border: 1px solid#252d5a;
    height: 500px;
    width: inherit;
    overflow: scroll;
    z-index: 4;
    
  }
  #tourist-btn, #JP-btn {
      position: relative;
      z-index: 5;
  }
  /* SACHIN TESTING ACCOUNTS PART  @stacy this was for the 
  accounts section the html is in users/template/accounts.html just for testing*/
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* END OF SACHIN ACCOUNT CSS */

  /* This is for the covid modal */
  .small-columns{
    text-align:center;
    color: #252d5a;
    padding: 4px 4px;
}
.header{
    background-color: #D0D0D0;
}
.main-content-row{
    background-color: #F0F0F0;
}
.perc{
    color: #252d5a;
    font-family: Orienta, sans-serif;
    font-size: large;
}
.small-stat-box{
    background-color: #c8c8c8;
    padding: 3px 3px;
}
/* End of covifd modal  */

/* adding extra small button group since no longer available in bootstrap 4 */
.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .9;
    border-radius: .2rem;
  }

#infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
