{% extends "bus/base_layout.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <!-- <p class="text-secondary">Leap card Balance: {{ user.profile.leap_balance }}</p> -->
          <p class="text-secondary">Leap card Balance: {{ balance }}</p>

        </div>

        <!-- new forms here -->
      </div class="container">
        <form method="POST" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"> Profile Info</legend>
              {{ user_form|crispy }}

              {% if user.profile.leap_username == '' or user.profile.leap_password == '' %}
            <div><p> Password and leap not set</p></div>
              {% endif %}

              {{ account_form|crispy }}
  
          </fieldset>
          <div class = "form-group">
              <button class="btn btn-outline-info" type="submit" name="account">Update</button>
          </div>

          {% if user.profile.leap_username %}

          <div class = "form-group">
            <button class="btn btn-outline-danger" type="submit" name="balance">Get Balance</button>
        </div>


          {% endif %}



      </form>

      </div>

      </div>
    </div>

{% endblock content %}